<div class="header-title">Connect 4</div>

<div>Instructions:</div>
<div>Welcome to Nicholas Vaughn's rendition of Connect 4, hopefully its just like all the other ones!</div>
<div>Grab a friend and take turns in this classic game. Hover over the column you wish to drop your chip and click the column when you are ready.</div>

<div class="game-board-chip"></div>
<div class="game-board">
    <div id="column0" class="game-board-column"></div>
    <div id="column1" class="game-board-column"></div>
    <div id="column2" class="game-board-column"></div>
    <div id="column3" class="game-board-column"></div>
    <div id="column4" class="game-board-column"></div>
    <div id="column5" class="game-board-column"></div>
    <div id="column6" class="game-board-column"></div>
</div>