.header-title {
    font-size: 24px;
    text-align: center;
}

.game-board-chip {
    border-radius: 100%;
    background-color: black;
    width: 75px;
    height: 75px;
    margin: 15px;
}

.game-board {
    display: flex;
    flex-direction: row;
    border: 1px dotted black;
    width: fit-content;
}

.game-board-column {
    width: 100px;
    height: 600px;
}

.game-board-column:nth-child(2n) {
    background: lightgray;
}